<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <title>Berkeley Showcase</title>
        <!-- Bootstrap core CSS -->
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../assets/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/Chart.js"></script>
        <script src="assets/js/modernizr.custom.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    </head>
    <body data-spy="scroll" data-offset="0" data-target="#theMenu">
        <!-- Menu -->
        <nav class="menu" id="theMenu">
            <div class="menu-wrap">
                <h1 class="logo"><a href="index.html#home">Showcase</a></h1>
                <i class="icon-remove menu-close"></i>
                <a href="#" class="smoothScroll", style = "font-family: Raleway;">Home</a>
                <a href="/projects" class="smoothScroll", style = "font-family: Raleway;">Projects</a>
            </div>
            <!-- Menu button -->
            <div id="menuToggle"><i class="icon-reorder"></i></div>
        </nav>
        <!-- ========== HEADER SECTION ========== -->
        <section id="home" name="home"></section>
        <div id="headerwrap">
            <div class="container">
                <br>
                <h1>Showcase</h1>
                <h2>Berkeley Project Gallery</h2>
                <div class="row">
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-6 col-lg-offset-3">
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- /headerwrap -->
        <!-- ========== WHITE SECTION ========== -->
        <div id="w">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h3>WELCOME TO <br/><b>SHOWCASE</b><br/>
                            CREATED BY BERKELEY<br> <br>
                            <a href = "/projects">To Projects</a>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        <!-- /w -->
        <!-- ========== FOOTER SECTION ========== -->
        <section id="contact" name="contact"></section>
        <div id="f">
            <div class="container">
                <div class="row">
                    <h3><b>CONTACT US</b></h3>
                    <br>
                    <div class="col-lg-4">
                        <h3><b>Send Us A Message:</b></h3>
                        <h3><a href="mailto:fox@cs.berkeley.edu">fox@cs.berkeley.edu</a></h3>
                        <br>
                    </div>
                    <div class="col-lg-4">
                        <h3><b>Call Us:</b></h3>
                        <h3>(510) 642-6000</h3>
                        <br>
                    </div>
                    <div class="col-lg-4">
                        <h3><b>We Are Social</b></h3>
                        <p>
                            <a target="_blank" href="https://www.facebook.com/UCBerkeley/"><i class="icon-facebook"></i></a>
                            <a target="_blank" href="https://twitter.com/UCBerkeley"><i class="icon-twitter"></i></a>
                            <a target="_blank" href="http://www.gmail.com"><i class="icon-envelope"></i></a>
                        </p>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
        </div><!-- /f -->
        <div id="c">
            <div class="container">
                <p>Created by <a target="_blank" href="http://www.berkeley.edu">Berkeley</a></p>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/classie.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/smoothscroll.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>